/* font-family: 'Dancing Script', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Amatic SC', cursive; */

#title {
  background-color: #3e432e;
   color: #a7d129;
}

.collapse {
  padding-right: 100px;
}
.navbar-brand {
  font-family: 'Amatic SC', cursive;
  font-size: 4rem;
  padding-left: 11%;

}
.nav-link {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;

}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 4rem;
  font-weight: 900;
}
h2 {
  font-family:  'Pacifico', cursive;
}
h3 {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
}
.intro-words {
  padding-top: 4%;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-weight: 900;
}

.tony {
  border-radius: 100%;
  display: block;
margin-left: auto;
margin-right: auto ;
margin-bottom: 7%;
  width: 70%;
    right: 30%;
    align: center;
}

.fas {
color: #3e432e;
margin-bottom: 1rem;
}
.fas:hover {
  color: #616f39;
}
#bandprofiel {
  padding: 0 20%;
  background-color: #616f39;

}
.feature-box {
  text-align: center;
  padding: 5%;
}
.testimonial-image {
  width: 20%;
}
.testimonial-text {
  font-size: 2.7rem;
}
.carousel-item {
  padding: 7% 15%;
}
.carousel-item-active {
  padding: 7% 15%;
}
.naming {
  font-family:  'Pacifico', cursive;
  font-weight: 900;
  font-size: 4rem;
    color: #a7d129;
}
#footer {
  text-align: center;
  background-color: black;
  padding-bottom: 16px;
}

#contact {
  background-color: #616f39;
   color: #a7d129;
   text-align: center;
}

.adres {
    font-family: 'Amatic SC', cursive;
}
.btn {
  margin-bottom: 20px;
  margin-left: 30px;
  color: #3e432e;
}
.btn:hover {
  background-color: #a7d129;
}

#fanware {
  background-color: #fff;
   color: #616f39;
   text-align: center;
}
#calender {
  background-color: #616f39;
   color: #a7d129;
   text-align: center;
}
#fanware-page {
  background-color: #616f39;
  text-align: center;
}
#music {
  background-color: #616f39;
  color: #a7d129;
  text-align: center;
}
